## Predict what rating a user would give to a movie using auto encoders

In [1]:
# Importing the libraries
import numpy as np
import pandas as pd
import torch
import torch.nn as nn
import torch.nn.parallel
import torch.optim as optim
import torch.utils.data
from torch.autograd import Variable

In [4]:
# Importing the dataset
movies = pd.read_csv('ml-1m/movies.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')
users = pd.read_csv('ml-1m/users.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')
ratings = pd.read_csv('ml-1m/ratings.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')

In [5]:
movies.head()

   0                                   1                             2
0  1                    Toy Story (1995)   Animation|Children's|Comedy
1  2                      Jumanji (1995)  Adventure|Children's|Fantasy
2  3             Grumpier Old Men (1995)                Comedy|Romance
3  4            Waiting to Exhale (1995)                  Comedy|Drama
4  5  Father of the Bride Part II (1995)                        Comedy

In [6]:
users.head()

   0  1   2   3      4
0  1  F   1  10  48067
1  2  M  56  16  70072
2  3  M  25  15  55117
3  4  M  45   7  02460
4  5  M  25  20  55455

In [7]:
ratings.head()

   0     1  2          3
0  1  1193  5  978300760
1  1   661  3  978302109
2  1   914  3  978301968
3  1  3408  4  978300275
4  1  2355  5  978824291

User ID, Movie ID, Rating given by the user and the time stamp at which the movie was rated.

In [8]:
# Preparing the training set and the test set
training_set = pd.read_csv('ml-100k/u1.base', delimiter = '\t')
training_set = np.array(training_set, dtype = 'int')
test_set = pd.read_csv('ml-100k/u1.test', delimiter = '\t')
test_set = np.array(test_set, dtype = 'int')

In [9]:
# Getting the number of users and movies
nb_users = int(max(max(training_set[:,0]), max(test_set[:,0])))
nb_movies = int(max(max(training_set[:,1]), max(test_set[:,1])))

In [10]:
print("There are a total of " + str(nb_users) + " users and " + str(nb_movies) + " movies")

There are a total of 943 users and 1682 movies

In [11]:
# Converting the data into an array with users in lines and movies in columns
def convert(data):
    new_data = []
    for id_users in range(1, nb_users + 1):
        id_movies = data[:,1][data[:,0] == id_users]
        id_ratings = data[:,2][data[:,0] == id_users]
        ratings = np.zeros(nb_movies)
        ratings[id_movies - 1] = id_ratings
        new_data.append(list(ratings))
    return new_data
training_set = convert(training_set)
test_set = convert(test_set)

In [12]:
# Converting the data into Torch tensors
training_set = torch.FloatTensor(training_set)
test_set = torch.FloatTensor(test_set)

In [13]:
# Creating the architecture of the Neural Network
class SAE(nn.Module):
    def __init__(self, ):
        super(SAE, self).__init__()
        self.fc1 = nn.Linear(nb_movies, 20)
        self.fc2 = nn.Linear(20, 10)
        self.fc3 = nn.Linear(10, 20)
        self.fc4 = nn.Linear(20, nb_movies)
        self.activation = nn.Sigmoid()
    def forward(self, x):
        x = self.activation(self.fc1(x))
        x = self.activation(self.fc2(x))
        x = self.activation(self.fc3(x))
        x = self.fc4(x)
        return x
sae = SAE()
criterion = nn.MSELoss()
optimizer = optim.RMSprop(sae.parameters(), lr = 0.01, weight_decay = 0.5)

In [14]:
# Training the SAE
nb_epoch = 200
for epoch in range(1, nb_epoch + 1):
    train_loss = 0
    s = 0.
    for id_user in range(nb_users):
        input = Variable(training_set[id_user]).unsqueeze(0)
        target = input.clone()
        if torch.sum(target.data > 0) > 0:
            output = sae(input)
            target.require_grad = False
            output[target == 0] = 0
            loss = criterion(output, target)
            mean_corrector = nb_movies/float(torch.sum(target.data > 0) + 1e-10)
            loss.backward()
            train_loss += np.sqrt(loss.data[0]*mean_corrector)
            s += 1.
            optimizer.step()
    print('epoch: '+str(epoch)+' loss: '+str(train_loss/s))

C:\Users\pavan\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: UserWarning: invalid index of a 0-dim tensor. This will be an error in PyTorch 0.5. Use tensor.item() to convert a 0-dim tensor to a Python number
  app.launch_new_instance()

epoch: 1 loss: tensor(1.7724)
epoch: 2 loss: tensor(1.0967)
epoch: 3 loss: tensor(1.0534)
epoch: 4 loss: tensor(1.0383)
epoch: 5 loss: tensor(1.0310)
epoch: 6 loss: tensor(1.0266)
epoch: 7 loss: tensor(1.0237)
epoch: 8 loss: tensor(1.0220)
epoch: 9 loss: tensor(1.0206)
epoch: 10 loss: tensor(1.0197)
epoch: 11 loss: tensor(1.0189)
epoch: 12 loss: tensor(1.0185)
epoch: 13 loss: tensor(1.0178)
epoch: 14 loss: tensor(1.0175)
epoch: 15 loss: tensor(1.0172)
epoch: 16 loss: tensor(1.0167)
epoch: 17 loss: tensor(1.0171)
epoch: 18 loss: tensor(1.0166)
epoch: 19 loss: tensor(1.0163)
epoch: 20 loss: tensor(1.0161)
epoch: 21 loss: tensor(1.0160)
epoch: 22 loss: tensor(1.0160)
epoch: 23 loss: tensor(1.0157)
epoch: 24 loss: tensor(1.0158)
epoch: 25 loss: tensor(1.0156)
epoch: 26 loss: tensor(1.0157)
epoch: 27 loss: tensor(1.0152)
epoch: 28 loss: tensor(1.0148)
epoch: 29 loss: tensor(1.0132)
epoch: 30 loss: tensor(1.0116)
epoch: 31 loss: tensor(1.0093)
epoch: 32 loss: tensor(1.0086)
epoch: 33 loss: tensor(1.0052)
epoch: 34 loss: tensor(1.0052)
epoch: 35 loss: tensor(1.0005)
epoch: 36 loss: tensor(0.9991)
epoch: 37 loss: tensor(0.9954)
epoch: 38 loss: tensor(0.9952)
epoch: 39 loss: tensor(0.9921)
epoch: 40 loss: tensor(0.9915)
epoch: 41 loss: tensor(0.9879)
epoch: 42 loss: tensor(0.9886)
epoch: 43 loss: tensor(0.9842)
epoch: 44 loss: tensor(0.9810)
epoch: 45 loss: tensor(0.9797)
epoch: 46 loss: tensor(0.9787)
epoch: 47 loss: tensor(0.9739)
epoch: 48 loss: tensor(0.9754)
epoch: 49 loss: tensor(0.9746)
epoch: 50 loss: tensor(0.9770)
epoch: 51 loss: tensor(0.9770)
epoch: 52 loss: tensor(0.9776)
epoch: 53 loss: tensor(0.9716)
epoch: 54 loss: tensor(0.9757)
epoch: 55 loss: tensor(0.9690)
epoch: 56 loss: tensor(0.9663)
epoch: 57 loss: tensor(0.9653)
epoch: 58 loss: tensor(0.9656)
epoch: 59 loss: tensor(0.9601)
epoch: 60 loss: tensor(0.9627)
epoch: 61 loss: tensor(0.9581)
epoch: 62 loss: tensor(0.9628)
epoch: 63 loss: tensor(0.9554)
epoch: 64 loss: tensor(0.9554)
epoch: 65 loss: tensor(0.9535)
epoch: 66 loss: tensor(0.9547)
epoch: 67 loss: tensor(0.9502)
epoch: 68 loss: tensor(0.9508)
epoch: 69 loss: tensor(0.9472)
epoch: 70 loss: tensor(0.9505)
epoch: 71 loss: tensor(0.9476)
epoch: 72 loss: tensor(0.9489)
epoch: 73 loss: tensor(0.9446)
epoch: 74 loss: tensor(0.9471)
epoch: 75 loss: tensor(0.9439)
epoch: 76 loss: tensor(0.9453)
epoch: 77 loss: tensor(0.9420)
epoch: 78 loss: tensor(0.9446)
epoch: 79 loss: tensor(0.9432)
epoch: 80 loss: tensor(0.9437)
epoch: 81 loss: tensor(0.9408)
epoch: 82 loss: tensor(0.9422)
epoch: 83 loss: tensor(0.9390)
epoch: 84 loss: tensor(0.9411)
epoch: 85 loss: tensor(0.9387)
epoch: 86 loss: tensor(0.9405)
epoch: 87 loss: tensor(0.9386)
epoch: 88 loss: tensor(0.9390)
epoch: 89 loss: tensor(0.9371)
epoch: 90 loss: tensor(0.9382)
epoch: 91 loss: tensor(0.9361)
epoch: 92 loss: tensor(0.9369)
epoch: 93 loss: tensor(0.9353)
epoch: 94 loss: tensor(0.9363)
epoch: 95 loss: tensor(0.9345)
epoch: 96 loss: tensor(0.9356)
epoch: 97 loss: tensor(0.9336)
epoch: 98 loss: tensor(0.9341)
epoch: 99 loss: tensor(0.9326)
epoch: 100 loss: tensor(0.9339)
epoch: 101 loss: tensor(0.9325)
epoch: 102 loss: tensor(0.9333)
epoch: 103 loss: tensor(0.9311)
epoch: 104 loss: tensor(0.9326)
epoch: 105 loss: tensor(0.9308)
epoch: 106 loss: tensor(0.9313)
epoch: 107 loss: tensor(0.9305)
epoch: 108 loss: tensor(0.9312)
epoch: 109 loss: tensor(0.9300)
epoch: 110 loss: tensor(0.9310)
epoch: 111 loss: tensor(0.9292)
epoch: 112 loss: tensor(0.9304)
epoch: 113 loss: tensor(0.9290)
epoch: 114 loss: tensor(0.9298)
epoch: 115 loss: tensor(0.9285)
epoch: 116 loss: tensor(0.9292)
epoch: 117 loss: tensor(0.9281)
epoch: 118 loss: tensor(0.9286)
epoch: 119 loss: tensor(0.9273)
epoch: 120 loss: tensor(0.9278)
epoch: 121 loss: tensor(0.9269)
epoch: 122 loss: tensor(0.9274)
epoch: 123 loss: tensor(0.9266)
epoch: 124 loss: tensor(0.9273)
epoch: 125 loss: tensor(0.9262)
epoch: 126 loss: tensor(0.9267)
epoch: 127 loss: tensor(0.9258)
epoch: 128 loss: tensor(0.9259)
epoch: 129 loss: tensor(0.9251)
epoch: 130 loss: tensor(0.9257)
epoch: 131 loss: tensor(0.9246)
epoch: 132 loss: tensor(0.9249)
epoch: 133 loss: tensor(0.9239)
epoch: 134 loss: tensor(0.9245)
epoch: 135 loss: tensor(0.9235)
epoch: 136 loss: tensor(0.9238)
epoch: 137 loss: tensor(0.9235)
epoch: 138 loss: tensor(0.9238)
epoch: 139 loss: tensor(0.9319)
epoch: 140 loss: tensor(0.9329)
epoch: 141 loss: tensor(0.9299)
epoch: 142 loss: tensor(0.9293)
epoch: 143 loss: tensor(0.9280)
epoch: 144 loss: tensor(0.9376)
epoch: 145 loss: tensor(0.9414)
epoch: 146 loss: tensor(0.9384)
epoch: 147 loss: tensor(0.9355)
epoch: 148 loss: tensor(0.9339)
epoch: 149 loss: tensor(0.9346)
epoch: 150 loss: tensor(0.9353)
epoch: 151 loss: tensor(0.9339)
epoch: 152 loss: tensor(0.9367)
epoch: 153 loss: tensor(0.9397)
epoch: 154 loss: tensor(0.9370)
epoch: 155 loss: tensor(0.9337)
epoch: 156 loss: tensor(0.9341)
epoch: 157 loss: tensor(0.9340)
epoch: 158 loss: tensor(0.9309)
epoch: 159 loss: tensor(0.9288)
epoch: 160 loss: tensor(0.9292)
epoch: 161 loss: tensor(0.9282)
epoch: 162 loss: tensor(0.9312)
epoch: 163 loss: tensor(0.9308)
epoch: 164 loss: tensor(0.9303)
epoch: 165 loss: tensor(0.9273)
epoch: 166 loss: tensor(0.9288)
epoch: 167 loss: tensor(0.9267)
epoch: 168 loss: tensor(0.9272)
epoch: 169 loss: tensor(0.9256)
epoch: 170 loss: tensor(0.9282)
epoch: 171 loss: tensor(0.9249)
epoch: 172 loss: tensor(0.9244)
epoch: 173 loss: tensor(0.9237)
epoch: 174 loss: tensor(0.9254)
epoch: 175 loss: tensor(0.9225)
epoch: 176 loss: tensor(0.9238)
epoch: 177 loss: tensor(0.9228)
epoch: 178 loss: tensor(0.9223)
epoch: 179 loss: tensor(0.9212)
epoch: 180 loss: tensor(0.9219)
epoch: 181 loss: tensor(0.9201)
epoch: 182 loss: tensor(0.9211)
epoch: 183 loss: tensor(0.9209)
epoch: 184 loss: tensor(0.9204)
epoch: 185 loss: tensor(0.9202)
epoch: 186 loss: tensor(0.9226)
epoch: 187 loss: tensor(0.9275)
epoch: 188 loss: tensor(0.9260)
epoch: 189 loss: tensor(0.9247)
epoch: 190 loss: tensor(0.9227)
epoch: 191 loss: tensor(0.9202)
epoch: 192 loss: tensor(0.9196)
epoch: 193 loss: tensor(0.9184)
epoch: 194 loss: tensor(0.9195)
epoch: 195 loss: tensor(0.9181)
epoch: 196 loss: tensor(0.9192)
epoch: 197 loss: tensor(0.9172)
epoch: 198 loss: tensor(0.9181)
epoch: 199 loss: tensor(0.9163)
epoch: 200 loss: tensor(0.9170)

In [16]:
# Testing the SAE
test_loss = 0
s = 0.
for id_user in range(nb_users):
    input = Variable(training_set[id_user]).unsqueeze(0)
    target = Variable(test_set[id_user]).unsqueeze(0)
    if torch.sum(target.data > 0) > 0:
        output = sae(input)
        target.require_grad = False
        output[target == 0] = 0
        loss = criterion(output, target)
        mean_corrector = nb_movies/float(torch.sum(target.data > 0) + 1e-10)
        test_loss += np.sqrt(loss.data[0]*mean_corrector)
        s += 1.
print('test loss: '+str(test_loss/s))

C:\Users\pavan\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: UserWarning: invalid index of a 0-dim tensor. This will be an error in PyTorch 0.5. Use tensor.item() to convert a 0-dim tensor to a Python number
  del sys.path[0]

test loss: tensor(0.9520)

The test loss of 0.95 implies that the Stacked Auto Encoder model that is built can predict ratings for a movie that the user has not yet watched to an accuracy of upto 0.95 stars less to what the user would actually rate.